{% include 'header.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Edit Cart</h1>
    {{ include('cart/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cart_index') }}">Back to List</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
