{# templates/shop/toy_details.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Toy Details{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ toy.tname }}</h1>
        <p>Description: {{ toy.tdesc }}</p>
        <p>Price: ${{ toy.price }}</p>
        
        {# Add more details as needed #}

        <a href="{{ path('shop_hp') }}" title="Back to Shop"><i class="bx bx-link"></i> Back to Shop</a>
    </div>
{% endblock %}
